<body>


    <header>


        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Cambiar estado
            </div>

        </section>

        <section id="body">

            <div id="name">
                <h3> Cambiar estado</h3>
            </div>

            <br/>

            <form class="row justify-content-center form" >

                <div class="form-group col-md-6">
                    <label for="estado" class=" label ">Estado </label>
                  </div>
          
                  <div class="form-group col-md-6">
                    <select class="form-control" id="estado"  >
                      <option value="">Seleccione..</option>
                    </select>
                   
                  </div>

                  
        <div class="form-group col-md-6">
            <div class="row justify-content-end">
  
              <button class="submit" style="font-weight: bold;" type="submit"> Guardar </button>
  
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <div class="row justify-content-start">
  
              <button class="submit" style="font-weight: bold;" type=""> Cancelar </button>
  
  
            </div>
          </div>
          


                </form>

            


        </section>

    </header>






</body>