<body>


    <header>
        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Estudiantes movilidad
            </div>

        </section>
    </header>

    <section id="body">

        <div id="name">
            <h3> Criterios de consulta</h3>
        </div>

        <br />

        <form [formGroup]="formularioConsultarEstudiante" class="row justify-content-center form">

            <div class="form-group col-md-2">
                <label for="ano" class=" label ">Año </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control"  formControlName="ano_inscrip">
                    <option value="">Seleccione..</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>

            </div>

            <div class="form-group col-md-2">
                <label for="periodo" class=" label ">Periodo </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="periodo_inscrip">
                    <option value="">Seleccione..</option>
                    <option value="1">1 </option>
                    <option value="2">2 </option>
                </select>

            </div>

            <div class="form-group col-md-2">
                <label for="tipoMovilidad" class=" label ">Tipo de movilidad </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="tipo_movilidad">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let tipoMovilidad of tiposMovilidad" value="{{tipoMovilidad._id}}">
                        {{tipoMovilidad.nombre_movilidad}} </option>

                </select>

            </div>

            <div class="form-group col-md-2">
                <label for="institucionCooperante" class=" label ">Institución cooperante </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="nombre_institucion" placeholder="Institución cooperante">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let institucion of instituciones" value="{{institucion._id}}">
                        {{institucion.nombre_institucion}} </option>
                </select>
            </div>

            <div class=" form-group col-md-2 ">
                <label  class="label ">Código estudiante </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="codigo_est" placeholder="Código estudiante"
                    value="">

            </div>

            <div class=" form-group col-md-2 ">
                <label for="" class=" "> </label>
            </div>

            <div class="form-group col-md-4">

            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" (click)="consultarEstudiante()"> Consultar </button>


                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" type=""> Cancelar </button>


                </div>
            </div>



        </form>




    </section>


    <section id="body">

        <div id="name">
            <h3> Listado de inscritos</h3>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Doc. Identidad </th>
                    <th scope="col" class="center"> Nombre </th>
                    <th scope="col" class="center"> Tipo movilidad </th>
                    <th scope="col" class="center"> Institución cooperante </th>
                    <th scope="col" class="center"> Estado </th>
                    <th scope="col" class="center"> Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of estudiantes">


                    <td style="text-align: center;">
                        <div *ngIf="estudiante.aspUisPersonal"> {{estudiante.aspUisPersonal.codigo_est}} </div>
                        {{estudiante.codigo_est}}
                    </td>
                    <td style="text-align: center;">
                        <div *ngIf="estudiante.aspUisPersonal"> {{estudiante.aspUisPersonal.documento_id}}</div>
                        {{estudiante.documento_id}}
                    </td>
                    <td style="text-align: center;">
                        <div *ngIf="estudiante.aspUisPersonal"> {{estudiante.aspUisPersonal.primer_nombre}}
                            {{estudiante.aspUisPersonal.primer_apellido}}</div>
                        {{estudiante.primer_nombre}} {{estudiante.primer_apellido}}
                    </td>

                    <td style="text-align: center;">
                        <div *ngFor="let movilidad of tiposMovilidad">
                            <div *ngIf="movilidad._id == estudiante.Inscripcion.tipo_movilidad">
                                {{movilidad.nombre_movilidad}}</div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div *ngFor="let institucion of instituciones">
                            <div *ngIf="institucion._id == estudiante.Inscripcion.nombre_institucion">
                                {{institucion.nombre_institucion}}</div>
                        </div>
                    </td>

                  <td>
                     
                    <select #estado class="form-control" (change)="cambiarEstado(estado, estudiante.Inscripcion._id)" >             
                      <option value="">{{estudiante.Inscripcion.estado}}</option>      
                      <option  *ngFor="let estado of estados" value="{{estado.val}}">{{estado.nm}}</option>                      
                    </select>
                  </td>

                    <td> <button class="submit" (click)="editarInscripcion(estudiante._id )"> Editar </button>
                        <button class="submit" (click)="eliminarInscripcion(estudiante.codigo_est, estudiante )">
                            Eliminar </button> </td>
                </tr>
            </tbody>
        </table>


    </section>




</body>