<body>

    <header>
        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Solicitud apoyos
            </div>

        </section>
    </header>

 
  
    <section id="body">

        <div id="name">
            <h3> Datos a ingresar</h3>
        </div>

        <br />

        <form [formGroup]="formularioSolicitudApoyos" class="row justify-content-center form">

            <div class="form-group col-md-2">
                <label for="tipoApoyo" class=" label ">Tipo apoyo * </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" id="tipo_apoyo" formControlName="tipo_apoyo" 
                [class.is-invalid]="getNoValido('tipo_apoyo')">
                  <option value="">Seleccione..</option>
                  <option value="item 1">Seleccione..</option>               
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="entidadFinanciera" class=" label ">Entidad financiera *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="entidad_financiera"
                    [class.is-invalid]="getNoValido('entidad_financiera')">
                    <option value="">Seleccione..</option>
                    <option value="item 1"> dato</option>

                </select>

            </div>

            <div class="form-group col-md-2">
                <label for="fechaSoliitud" class=" label ">Fecha solicitud *</label>
            </div>

            <div class="form-group col-md-4">
                <input required readonly class="input input-date1" placeholder="fecha solicitud"
                    [matDatepicker]="fechaSoliitud" formControlName="fecha_solicitud" (click)="fechaSoliitud.open()"
                    [class.is-invalid]="getNoValido('fecha_solicitud')" />
                <small class="mensaje-error" *ngIf="getNoValido('fecha_solicitud')">
                    El campo fecha de solciitud es obligatorio.
                </small>
                <mat-datepicker #fechaSoliitud></mat-datepicker>
            </div>



            <div class="form-group col-md-2">
                <label for="TipoCuenta" class=" label ">Tipo de cuenta *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="tipo_cuenta"
                [class.is-invalid]="getNoValido('tipo_cuenta')">
                <option value="">Seleccione..</option> 
                <option value="1"> ahorros</option>
                <option value="2"> corriente</option>
                </select>
            </div>

            <div class=" form-group col-md-2 ">
                <label for="numeroCuenta" class="label ">Número de cuenta * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="numero_cuenta" 
                 [class.is-invalid]="getNoValido('numero_cuenta')" />
                <small class="mensaje-error" *ngIf="getNoValido('numero_cuenta')">
                  El campo número de cuenta es obligatorio.
                </small>
                 

            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-end">
        
                </div>
              </div>
        
            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" style="font-weight: bold;" (click)=" guardarFormulario()"> Guardar </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="boton col-md-2" style="font-weight: bold;" type=""> Cancelar </button>


                </div>
            </div>

        </form>
        <p> (*) Información requerida </p>

    </section>

    <section id="body">


        <div id="name">
            <h3> Listado solicitudes </h3>
        </div>

        <br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Tipo apoyo </th>
                    <th scope="col" class="center"> Estado solicitud </th>
                   
                    
                </tr>
            </thead>
            <tbody>
                <tr>
    
                    <td></td>
                    <td></td>
                    <td></td>
                  
                   
                </tr>
            </tbody>
        </table>
    </section>
</body>