.input {    
    width: 75% !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s
}

.mensaje-error{
    background-color: #F2DEDE;
    color: #B94A48;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}
  
p {
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
    padding-left: 2%;
}