<body>


<header>
  <section id="titulo">
    Sistema de relaciones exteriores
    <br />
    Módulo de movilidad académica - Selección movilidad
  </section>  
</header>



  <section id="body">

  <br />

     <div id="name">
      <h3> Selección tipo de estudiante</h3>
    </div>

    <br />

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="label-accordion">
            Estudiante pregrado
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Seleccione una opción">
          <mat-radio-button value="movilidad-entrante" class="font-body"> Movilidad entrante </mat-radio-button>
          <br />
          <br />
          <mat-radio-button value="movilidad-saliente" class="font-body"> Movilidad saliente </mat-radio-button>
          <br />
        
          <button class="boton" style="font-weight: bold;" type="">Guardar </button>
        </mat-radio-group>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="label-accordion">
            Estudiante postgrado
          </mat-panel-title>

        </mat-expansion-panel-header>


        <mat-radio-group aria-label="Seleccione una opción">
          <mat-radio-button value="movilidad-entrante"> Movilidad entrante </mat-radio-button>
          <br />
          <br />
          <mat-radio-button value="movilidad-saliente"> Movilidad saliente </mat-radio-button>
          <br />
          <button class="submit" type="submit"> Guardar </button>
        </mat-radio-group>



      </mat-expansion-panel>
    </mat-accordion>


  
  </section>


</body>