<body>


<header>
  <section id="titulo">
    Sistema de relaciones exteriores
    <br />
    Módulo de movilidad académica - Selección movilidad
  </section>
</header>



  <section id="body">

  <br />

     <div id="name">
      <h3> Selección tipo de estudiante</h3>
    </div>

    <br />

    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="label-accordion">
            Estudiantes
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Seleccione una opción">

          <button class="inscripcion" style="font-weight: bold;" (click)="movilidadentrante()" >Movilidad entrante </button>
          <button class="inscripcion" style="font-weight: bold;" (click)= "movilidadsalientente()">Movilidad saliente </button>

          <br />

        </mat-radio-group>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="label-accordion">
            Profesores
          </mat-panel-title>

        </mat-expansion-panel-header>


        <mat-radio-group aria-label="Seleccione una opción">

          <button class="inscripcion" (click)="profesores()"> Profesores </button>

        </mat-radio-group>



      </mat-expansion-panel>
    </mat-accordion>



  </section>


</body>
