.inscripcion{

    display: block;
    padding: 8px;
    background: #C6DEFF;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    border-radius: initial;
    border-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    margin-right: 10%;

}