<body>


    <header>


        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Consultar estado
            </div>

        </section>

        <section id="body">

            <div id="name">
                <h3> Criterios de consulta</h3>
            </div>

            <br/>

            <form class="row justify-content-center form" >

                <div class="form-group col-md-2">
                    <label for="ano" class=" label ">Año </label>
                  </div>
          
                  <div class="form-group col-md-4">
                    <select class="form-control" id="ano_inscrip" >
                      <option value="">Seleccione..</option>
                    </select>
                  
                  </div>

                  <div class="form-group col-md-2">
                    <label for="periodo" class=" label ">Periodo </label>
                  </div>
          
                  <div class="form-group col-md-4">
                    <select class="form-control" id="periodo_inscrip" >
                      <option value="">Seleccione..</option>
                    </select>
                  
                  </div>

                  <div class="form-group col-md-2">
                    <label for="tipoMovilidad" class=" label ">Tipo de movilidad </label>
                  </div>
          
                  <div class="form-group col-md-4">
                    <select class="form-control" id="tipo_movilidad"  >
                      <option value="">Seleccione..</option>
                    </select>
                
                  </div>

                  <div class="form-group col-md-2">
                    <label for="institucionCooperante" class=" label ">Institución cooperante </label>
                  </div>
          
                  <div class="form-group col-md-4">
                    <select class="form-control" id="nombre_institucion" >
                      <option value="">Seleccione..</option>
                    </select>
                  
                  </div>

                  <div class=" form-group col-md-2 ">
                    <label for="codigo" class="label ">Código estudiante </label>
                  </div>
          
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control"  id="codigo_est"
                     >
                   
                  </div>

                  <div class=" form-group col-md-2 ">
                    <label for="" class=" "> </label>
                  </div>
          
                  <div class="form-group col-md-4">
                   
                  </div>

                  
        <div class="form-group col-md-6">
            <div class="row justify-content-end">
  
              <button class="submit"  type="submit"> Consultar </button>
  
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <div class="row justify-content-start">
  
              <button class="submit"  type=""> Cancelar </button>
  
  
            </div>
          </div>
          


                </form>

            


        </section>

    </header>






</body>