<body>

<header>

  <section id="title">

    <div id="titulo">
      Sistema de relaciones exteriores
      <br />
      Módulo de movilidad académica - Consulta apoyos
    </div>

  </section>

</header>

<section id="body">


  <div id="name">
    <h3> Listado solicitudes  </h3>
  </div>

  <br />

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" class="center"> Tipo apoyo </th>
      <th scope="col" class="center"> Fecha </th>
      <th scope="col" class="center"> Entidad Financiera </th>
      <th scope="col" class="center"> Tipo de cuenta </th>
      <th scope="col" class="center"> Numero de cuenta </th>
      <th scope="col" class="center"> Opciones </th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{solicitud.TipoApoyos.nombre_tipo_apoyo}}</td>
      <td>{{solicitud.fecha_solicitud | date:'yyyy-MM-dd' }}</td>
      <td>{{getEntidad(solicitud.entidad_financiera)}}</td>
      <td>{{getTipoCuenta(solicitud.tipo_cuenta)}}</td>
      <td>{{solicitud.numero_cuenta}}</td>
      <td>
        <select #estado class="form-control" (change)="editarEstado(solicitud._id, estado.value)" >
          <option value="">--{{getEstado(solicitud.estado)}}--</option>
          <option  *ngFor="let estado of estados" value="{{estado.val}}">{{estado.nm}}</option>
        </select>
      </td>

    </tr>

    </tbody>
  </table>

</section>



</body>
