<body>


    <div id="name">
        <h3> Realizar Observaciones</h3>
    </div>

    <br />

    <form class="row justify-content-center form ">


        <div class="form-group col-md-6">
            <label for="estadoDocumento" class=" label ">Estado del documento </label>
        </div>

        <div class="form-group col-md-6">
            <select class="form-control" id="estadoDocumento" placeholder="Seleccione..">
                <option value="">Seleccione..</option>
                <option value="Revision">Revisión</option>
                <option value="Observaciones">Observaciones</option>
                <option value="Aprobado">Aprobado</option>
            </select>

        </div>





        <div class=" form-group col-md-6 ">
            <label for="observaciones" class="label ">Observaciones </label>
        </div>

        <div class="form-group col-md-6">
            <textarea class="form-control" id="observaciones"> </textarea>

        </div>


        <div class="form-group col-md-6">
            <div class="row justify-content-end">

                <button class="submit" style="font-weight: bold;" type="submit"> Guardar </button>

            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="row justify-content-start">

                <button class="submit" type=""> Cancelar </button>


            </div>
        </div>

    </form>



</body>