
<aside id="sidebar">
  <nav id="menu">
    <ul>
      <p style="font-weight: bold;">Opciones</p>
      <br />
  <li> <a [routerLink] = "['/inicio']" [routerLinkActive]="['actived']"> Inicio </a> </li>
  <li> <a [routerLink] = "['/acceso']" [routerLinkActive]="['actived']"> Acceso al sistema </a> </li>
  <li> <a [routerLink] = "['/inscripcion-externo']" [routerLinkActive]="['actived']"> Movilidad entrante</a> </li>
  <li> <a [routerLink] = "['/inscripcion-estudiante']" [routerLinkActive]="['actived']"> Movilidad saliente </a> </li>
  <li> <a [routerLink] = "['/cambiar-estado']" [routerLinkActive]="['actived']"> Cambiar estado</a> </li>
  <li> <a [routerLink] = "['/carga-documentos']" [routerLinkActive]="['actived']"> Carga documentos</a> </li>
  <li> <a [routerLink] = "['/consultar-documentos']" [routerLinkActive]="['actived']"> Consultar documentos</a> </li>
  <li> <a [routerLink] = "['/revision-documentos']" [routerLinkActive]="['actived']"> Revisión documentos</a> </li>
  <li> <a [routerLink] = "['/solicitud-apoyos']" [routerLinkActive]="['actived']"> Solicitud apoyos</a> </li>


</ul>
  </nav>
</aside>


<router-outlet> </router-outlet>