<body>
    <header>
            <div id="titulo-emergente">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Datos institución cooperante
            </div>
    </header>

    <section id="">

        <div id="name">
            <h3> Datos institución </h3>
        </div>

        <br />

        <!-- <form  [formGroup]="formularioInstitucionCooperante" class="row justify-content-center form">
            <div  class="form-group col-md-2">
                <label for="nombreInstitucion" class="label ">Nombre </label>
            </div>

            {{instituciones.nombre_institucion}}
        

            <div class="form-group col-md-2">
                <label for="pais" class=" label ">País </label>
            </div>

         

            <div class="form-group col-md-2">
                <label for="departamento" class=" label ">Departamento </label>
            </div>

   

            <div class="form-group col-md-2">
                <label for="ciudad" class=" label ">Ciudad </label>
            </div>

     

            <div class="form-group col-md-2">
                <label for="direccion" class="label ">Dirección </label>
              </div>
        
          

              <div class="form-group col-md-2">
                <label for="telefono" class="label ">Teléfono </label>
              </div>
        
     


              <div class="form-group col-md-2">
                <label for="correo" class="label ">Correo </label>
              </div>
        
       
        </form> -->             
                
    </section>     

</body>