<body>

<header>

  <section id="title">

    <div id="titulo">
      Sistema de relaciones exteriores
      <br />
      Módulo de movilidad académica - Consulta apoyos
    </div>

  </section>

</header>


<section id="body">

  <div id="name">
    <h3> Criterios de consulta </h3>
  </div>

  <br />

  <form [formGroup]="formConsulta" class="row justify-content-center form ">


    <div class=" form-group col-md-2">
      <label for="codigo" class="label">Código Estudiante </label>
    </div>

    <div class="form-group  col-md-4">
      <input type="text" class="form-control" formControlName="codigo_est" placeholder="Código estudiante">
    </div>


    <div class=" form-group col-md-2">
      <label for="numeroDocumento" class="label"> Número documento </label>
    </div>

    <div class="form-group  col-md-4">
      <input type="text" class="form-control" formControlName="documento_id" placeholder="Número documento">
    </div>


    <div class="form-group col-md-6">
      <div class="row justify-content-end">

        <button class="submit"  type="submit" (click)="consultar()" > Consultar </button>

      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="row justify-content-start">

        <button class="submit"  type="" (click)="cancelarConsulta()" > Cancelar </button>


      </div>
    </div>

  </form>

</section>

<section id="body">


  <div id="name">
    <h3> Listado solicitudes  </h3>
  </div>

  <br />

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" class="center"> Código estudiante </th>
      <th scope="col" class="center"> Documento </th>
      <th scope="col" class="center"> Nombre </th>
      <th scope="col" class="center"> opciones </th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.aspUisPersonal.codigo_est}}</td>
      <td>{{estudiante.aspUisPersonal.documento_id}}</td>
      <td>
        {{estudiante.aspUisPersonal.primer_nombre}}
        {{estudiante.aspUisPersonal.primer_apellido}}
        {{estudiante.aspUisPersonal.segundo_nombre}}
        {{estudiante.aspUisPersonal.segundo_apellido}}
      </td>
      <td>
        <button class="accion"  (click)="verSolicitudes(estudiante.aspUisPersonal.documento_id)" >Ver Solicitudes</button>
      </td>

    </tr>

    </tbody>
  </table>

</section>



</body>
