<body>

    <header>


        <section id="title">
            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Apoyos
            </div>
        </section>
    </header>

    <section id="body">

        <div id="name">
            <h3> Crear </h3>
        </div>

        <br />

        <form  [formGroup]="formularioCrearApoyo" class="row justify-content-center form">



            <div class="form-group col-md-2">
                <label for="nombreApoyo" class="label ">Nombre apoyo *</label>
              </div>

              <div class="form-group col-md-4">
                <input type="text" formControlName="nombre_tipo_apoyo" class="form-control" placeholder="Nombre apoyo"
                  [class.is-invalid]="getNoValido('nombre_tipo_apoyo')" />
                <small class="mensaje-error" *ngIf="getNoValido('nombre_tipo_apoyo')">
                  El campo nombre apoyo es obligatorio.
                </small>

              </div>

          <div class="form-group col-md-2">
            <label for="estratoApoyo" class="label ">estratos *</label>
          </div>

          <div class="form-group col-md-4">
            <input type="text" formControlName="estratos_tipo_apoyo" class="form-control" placeholder="1,2,4"
                   [class.is-invalid]="getNoValido('estratos_tipo_apoyo')" />
            <small class="mensaje-error" *ngIf="getNoValido('estratos_tipo_apoyo')">
              El campo estratos apoyo es obligatorio. separe cada estrato por coma(,).
            </small>

          </div>
            <div class=" form-group col-md-2 ">
                <label for="" class=" "> </label>
              </div>

              <div class="form-group col-md-4">

              </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit"  (click)="guardarFormulario()"> Crear </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" type=""> Cancelar </button>


                </div>
            </div>



        </form>




    </section>


    <section>

        <div id="name">
            <h3> Agregar Documento a Convenio </h3>
        </div>

        <br />
        <form class="row justify-content-center form">
            <div class="form-group col-md-2">
              <label class="label ">Tipo apoyo *</label>
            </div>


            <div class="form-group col-md-4">
                <select class="form-control" >
                <option value="">Seleccione..</option>
                <option  value=""> </option>
              </select>
            </div>


            <div class="form-group col-md-2">
              <label class="label ">Estrato *</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" >
                <option value="">Seleccione..</option>
                <option *ngFor=""  value="">  </option>
              </select>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" > Agregar </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">
                    <button class="submit" > Cancelar </button>
                </div>
            </div>
        </form>
      </section>


    <section id="body">

        <div id="name">
            <h3> Listado de apoyos</h3>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Nombre </th>
                    <th scope="col" class="center"> Estrato </th>
                    <th scope="col" class="center"> Acciones </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let apoyo of apoyos">

                    <td>{{apoyo._id}}</td>
                    <td>{{apoyo.nombre_tipo_apoyo}}</td>
                    <td>{{apoyo.estratos_tipo_apoyo}}</td>
                    <td>
                      <button class="submit" (click)="eliminarApoyo(apoyo._id, apoyo )" >Eliminar</button>
                      <button class="submit" (click)="editarTpApoyo(apoyo._id )" >Editar</button>
                    </td>

                </tr>

            </tbody>
        </table>


    </section>




</body>
