<body>


    <header>


        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Entidad financiera
            </div>

        </section>


    </header>

    <section id="body">

        <div id="name">
            <h3> Crear </h3>
        </div>

        <br />

        <form  [formGroup]="formularioCrearEntidad" class="row justify-content-center form">



            <div class="form-group col-md-2">
                <label for="nombreEntidad" class="label ">Nombre entidad financiera *</label>
              </div>
        
              <div class="form-group col-md-4">
                <input type="text" formControlName="nombre_entidad" class="form-control" placeholder="Nombre entidad financiera"
                  [class.is-invalid]="getNoValido('nombre_entidad')" />
                <small class="mensaje-error" *ngIf="getNoValido('nombre_entidad')">
                  El campo nombre entidad es obligatorio.
                </small>
        
              </div>
            <div class=" form-group col-md-2 ">
                <label for="" class=" "> </label>
              </div>
        
              <div class="form-group col-md-4">
               
              </div>
    

            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit"  (click)="guardarFormulario()"> Crear </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" type=""> Cancelar </button>


                </div>
            </div>



        </form>




    </section>


    <section id="body">

        <div id="name">
            <h3> Criterios de consulta </h3>
        </div>

        <br />

        <form class="row justify-content-center form">


            <div class=" form-group col-md-2 ">
                <label for="id" class="label ">Id * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="_id">

            </div>

            <div class=" form-group col-md-2 ">
                <label for="nombre" class="label ">Nombre entidad * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="nombre_doc">

            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" type="submit"> Consultar </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" type=""> Cancelar </button>


                </div>
            </div>



        </form>




    </section>


    <section id="body">

        <div id="name">
            <h3> Listado de entidades financieras</h3>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Nombre entidad </th>
                    <th scope="col" class="center"> Acciones </th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>


    </section>




</body>