<body>


    <header>


        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Convenios
            </div>

        </section>


    </header>

    <section id="body" *ngIf="[1,5].includes(rol)" >

        <div id="name">
            <h3> Crear </h3>
        </div>

        <br />

        <form [formGroup]="formularioCrearConvenio" class="row justify-content-center form">



            <div class="form-group col-md-2">
                <label class="label ">Nombre convenio *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" formControlName="nombre_convenio" class="form-control" placeholder="Nombre convenio"
                    [class.is-invalid]="getNoValido('nombre_convenio')" />
                <small class="mensaje-error" *ngIf="getNoValido('nombre_convenio')">
                    El campo nombre convenio es obligatorio.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label for="versionConvenio" class="label ">Versión convenio *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" formControlName="version_convenio" class="form-control"
                    placeholder="Versión convenio" [class.is-invalid]="getNoValido('version_convenio')" />
                <small class="mensaje-error" *ngIf="getNoValido('version_convenio')">
                    El campo versión convenio es obligatorio.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label for="programaAcademico" class=" label">Programa académico *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" id="programaAcademico" formControlName="programa_acad"
                    [class.is-invalid]="getNoValido('programa_acad')">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let programa of programas" value="{{programa._id}}">
                        {{programa.nombre_programaAcademico}} </option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="promedio" class="label ">Promedio *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="promedio" placeholder="Promedio"
                    [class.is-invalid]="getNoValido('promedio')" />
                <small class="mensaje-error" *ngIf="getNoValido('promedio')">
                    El campo promedio es obligatorio.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label class="label ">Créditos aprobados *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="cred_cursados" placeholder="Créditos aprobados"
                    [class.is-invalid]="getNoValido('cred_cursados')" />
                <small class="mensaje-error" *ngIf="getNoValido('cred_cursados')">
                    El campo promedio es obligatorio.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label class="label ">Créditos a cursar *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="cred_cursar" placeholder="Créditos a cursar"
                    [class.is-invalid]="getNoValido('cred_cursar')" />
                <small class="mensaje-error" *ngIf="getNoValido('cred_cursar')">
                    El campo promedio es obligatorio.
                </small>
            </div>


            <div class="form-group col-md-2">
                <label for="cupo" class="label ">Cupo *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="cupo" placeholder="Cupo"
                    [class.is-invalid]="getNoValido('cupo')" />
                <small class="mensaje-error" *ngIf="getNoValido('cupo')">
                    El campo cupo es obligatorio.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label for="estadoConvenio" class=" label">Estado convenio *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" id="estadoConvenio" formControlName="estado_convenio"
                    [class.is-invalid]="getNoValido('estado_convenio')">
                    <option value="">Seleccione..</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                    <option value="vigente">Vigente</option>
                    <option value="no vigente">No vigente</option>

                </select>
            </div>


            <div class="form-group col-md-2">
                <label class="label "> Fecha inicio *</label>
            </div>

            <div class="form-group col-md-4">
                <input required readonly class="input input-date1" [matDatepicker]="fechaInicio"
                    formControlName="fecha_inicio" (click)="fechaInicio.open()"
                    [class.is-invalid]="getNoValido('fecha_inicio')" />
                <small class="mensaje-error" *ngIf="getNoValido('fecha_inicio')">
                    El campo fecha inicio vigencia es obligatorio.
                </small>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </div>



            <div class="form-group col-md-2">
                <label class="label "> Fecha final *</label>
            </div>

            <div class="form-group col-md-4">
                <input required readonly class="input input-date1" [matDatepicker]="fechaFinal"
                    formControlName="fecha_final" (click)="fechaFinal.open()"
                    [class.is-invalid]="getNoValido('fecha_final')" />
                <small class="mensaje-error" *ngIf="getNoValido('fecha_final')">
                    El campo fecha final es obligatorio.
                </small>
                <mat-datepicker #fechaFinal></mat-datepicker>
            </div>


            <div class="form-group col-md-2">
                <label class="label "> Fecha suscripción *</label>
            </div>

            <div class="form-group col-md-4">
                <input required readonly class="input input-date1" [matDatepicker]="fechaSuscripcion"
                    formControlName="fecha_suscripcion" (click)="fechaSuscripcion.open()"
                    [class.is-invalid]="getNoValido('fecha_suscripcion')" />
                <small class="mensaje-error" *ngIf="getNoValido('fecha_suscripcion')">
                    El campo fecha suscripción es obligatorio.
                </small>
                <mat-datepicker #fechaSuscripcion></mat-datepicker>
            </div>



            <div class="form-group col-md-2">
                <label for="tipoConvenio" class=" label">Tipo convenio *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="tipo_convenio"
                    [class.is-invalid]="getNoValido('tipo_convenio')">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let tipoConvenio of tiposConvenio" value="{{tipoConvenio._id}}">
                        {{tipoConvenio.nombre_tipo_convenio}} </option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="tipoMovilidad" class=" label">Tipo movilidad *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" id="tipoMovilidad" formControlName="tipo_movilidad"
                    [class.is-invalid]="getNoValido('tipo_movilidad')">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let tipoMovilidad of tiposMovilidad" value="{{tipoMovilidad._id}}">
                        {{tipoMovilidad.nombre_movilidad}} </option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="institucionCooperante" class="label "> Institución cooperante *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="nombre_institucion"
                    [class.is-invalid]="getNoValido('nombre_institucion')">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let institucionCooperante of institucionesCooperantes"
                        value="{{institucionCooperante._id}}"> {{institucionCooperante.nombre_institucion}} </option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="pais" class=" label ">País </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" id="pais" formControlName="pais" [class.is-invalid]="getNoValido('pais')">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let pais of paises" value="{{pais._id}}"> {{pais.nombre_pais}} </option>
                </select>
            </div>


            <div class=" form-group col-md-2 ">
                <label for="" class=" "> </label>
            </div>

            <div class="form-group col-md-4">

            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" (click)="guardarFormulario()"> Crear </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit"  (click)="limpiarFormulario()"> Cancelar </button>


                </div>
            </div>

        </form>

    </section>


    <section id="body">

        <div id="name">
            <h3> Criterios de consulta </h3>
        </div>

        <br />

        <form [formGroup]="formularioConsultarConvenio" class="row justify-content-center form">


            <div class=" form-group col-md-2 ">
                <label class="label ">Número de convenio * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="_id">

            </div>

            <div class="form-group col-md-2">
                <label class=" label ">Tipo de movilidad </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="tipo_movilidad">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let tipoMovilidad of tiposMovilidad" value="{{tipoMovilidad._id}}">
                        {{tipoMovilidad.nombre_movilidad}} </option>
                </select>

            </div>

            <div class="form-group col-md-2">
                <label for="institucionCooperante" class=" label ">Institución cooperante </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="nombre_institucion" placeholder="Institución cooperante">
                    <option value="">Seleccione..</option>
                    <option *ngFor="let institucion of institucionesCooperantes" value="{{institucion._id}}">
                        {{institucion.nombre_institucion}} </option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label class=" label ">Estado convenio </label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="estado_convenio"  placeholder="Estado convenio">
                    <option value="">Seleccione..</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                    <option value="vigente">Vigente</option>
                    <option value="no vigente">No vigente</option>
                </select>

            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" (click)="consultarConvenio()"> Consultar </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" (click)="cancelarConsulta()"> Cancelar </button>


                </div>
            </div>



        </form>
    </section>


    <section id="body">

        <div id="name">
            <h3> Listado de convenios</h3>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Nombre convenio </th>
                    <th scope="col" class="center"> Estado convenio </th>
                    <th scope="col" class="center"> Institución cooperante </th>
                    <th scope="col" class="center"> Tipo movilidad </th>
                    <th scope="col" class="center"> Acciones </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let convenio of convenios">

                    <td style="text-align: center;">
                        {{convenio._id}}
                    </td>

                    <td>
                        <div *ngIf="convenio.convenio"> {{convenio.convenio.nombre_convenio}} </div>
                        {{convenio.nombre_convenio}}
                    </td>


                    <td style="text-align: center;">
                        <div *ngIf="convenio.convenio"> {{convenio.convenio.estado_convenio}} </div>
                        {{convenio.estado_convenio}}
                    </td>



                    <td style="text-align: center;">
                        <div *ngFor="let institucionCooperante of institucionesCooperantes">
                            <div *ngIf="institucionCooperante._id == convenio.nombre_institucion">
                                {{institucionCooperante.nombre_institucion}}</div>
                            <div *ngIf="convenio.convenio && institucionCooperante._id == convenio.convenio.nombre_institucion">
                                {{institucionCooperante.nombre_institucion}}</div>
                        </div>

                    </td>

                    <td style="text-align: center;">
                        <div *ngFor="let tipoMovilidad of tiposMovilidad">
                            <div *ngIf="tipoMovilidad._id == convenio.tipo_movilidad">
                                {{tipoMovilidad.nombre_movilidad}}</div>
                            <div *ngIf="convenio.convenio && tipoMovilidad._id == convenio.convenio.tipo_movilidad">
                                {{tipoMovilidad.nombre_movilidad}}</div>
                        </div>

                    <td>



                        <button class="submit" (click)="verConvenio(convenio._id )"> ver </button>
                        <button class="submit" (click)="editarConvenio(convenio._id )" *ngIf="[1,5].includes(rol)" > Editar </button>
                        <button class="submit" (click)="eliminarConvenio(convenio._id, convenio )" *ngIf="[1,5].includes(rol)" > Eliminar </button>

                </tr>

            </tbody>
        </table>


    </section>




</body>
