<body>


  <section id="title">

    <div id="titulo">
      Sistema de relaciones exteriores
      <br />
      Módulo de movilidad académica - Inscripción estudiante externo a proceso de movilidad
    </div>

  </section>



    <section id="body">
   
      <div id="name">
        <h3> Inscripción</h3>
      </div>

      <br />


      <form [formGroup]="formularioInscripcionExterno"  class="row justify-content-center form " >




        <div class=" form-group col-md-2">
          <label for="numeroAspirante" class="label">Número Aspirante *</label>
        </div>

        <div class="form-group  col-md-4">
          <input type="text" class="form-control" id="numeroAspirante" placeholder="Número Aspirante" disabled = "disabled">
          </div>

        <div class="form-group col-md-2">
          <label for="tipoDocumento" class=" label ">Tipo de documento *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="tipo_doc_id"  [class.is-invalid]="getNoValido('tipo_doc_id')">
            <option value="">Seleccione..</option>
            <option>Seleccione..</option>
          </select>
        </div>


        <div class="form-group col-md-2">
          <label for="numeroDocumento" class="label">Número Documento *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="documento_id"     [class.is-invalid]="getNoValido('documento_id')" />
          <small class="mensaje-error" *ngIf="getNoValido('documento_id')">
            El campo número de documento es obligatorio.
          </small>
  
      
        </div>

        <div class="form-group col-md-2">
          <label for="primerNombre" class="label ">Primer nombre *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="primer_nombre"  placeholder="Primer nombre" 
          [class.is-invalid]="getNoValido('primer_nombre')"/>
          <small class="mensaje-error" *ngIf="getNoValido('primer_nombre')">
          El campo primer nombre es obligatorio.
          </small>

        </div>

        <div class="form-group col-md-2">
          <label for="segundoNombre" class="label">Segundo nombre</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="segundoNombre" placeholder="Segundo nombre" >
         </div>

        <div class="form-group col-md-2">
          <label for="primerApellido" class="label ">Primer apellido *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="primer_apellido"  placeholder="Primer apellido" 
          [class.is-invalid]="getNoValido('primer_apellido')"/>
          <small class="mensaje-error" *ngIf="getNoValido('primer_apellido')">
          El campo primer apellido es obligatorio.
          </small>
        </div>


        <div class="form-group col-md-2">
          <label for="segundoApellido" class="label">Segundo apellido </label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="segundoApellido" placeholder="Segundo apellido"
            value="" required>
        
        </div>

        <div class="form-group col-md-2">
          <label for="genero" class=" label ">Género *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="genero"  [class.is-invalid]="getNoValido('genero')">
            <option value="">Seleccione..</option>
            <option value="item 1">Femenino</option>
            <option value="item 2">Masculino</option>
            <option value="item 3">Otro</option>
          </select>

        </div>


        <div class="form-group col-md-2">
          <label for="fechaNacimiento" class="label ">Fecha de nacimiento *</label>
        </div>
  
        <div class="form-group col-md-4">
          <input required readonly class="input input-date1" placeholder="fecha nacimiento"
            [matDatepicker]="fechaNacimiento" formControlName="fecha_nacimiento" (click)="fechaNacimiento.open()"
            [class.is-invalid]="getNoValido('fecha_nacimiento')" />
            <small class="mensaje-error" *ngIf="getNoValido('fecha_nacimiento')">
              El campo fecha de nacimiento es obligatorio.
            </small>
          <mat-datepicker #fechaNacimiento></mat-datepicker>
        </div>



        <div class="form-group col-md-2">
          <label for="pais" class="label ">País nacimiento *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="pais_nacimiento" [class.is-invalid]="getNoValido('pais_nacimiento')" >
            <option value="">Seleccione..</option>
            <option *ngFor="let pais of paises"  value="{{pais._id}}"> {{pais.nombre_pais}}  </option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="pais" class="label ">País residencia *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="pais_res" [class.is-invalid]="getNoValido('pais_res')" >
            <option value="">Seleccione..</option>
            <option *ngFor="let pais of paises"  value="{{pais._id}}"> {{pais.nombre_pais}}  </option>
          </select>
        
        </div>

        <div class="form-group col-md-2">
          <label for="departamentoResidencia" class="label ">Departamento residencia *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="departamento" [class.is-invalid]="getNoValido('departamento')" >
            <option value="">Seleccione..</option>
            <option *ngFor="let departamento of departamentos"  value="{{departamento._id}}"> {{departamento.nombre_departamento}}  </option>
         
          </select>
        
        </div>

        <div class="form-group col-md-2">
          <label for="ciudadResidencia" class="label ">Ciudad residencia *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="ciudad" [class.is-invalid]="getNoValido('ciudad')" >
            <option value="">Seleccione..</option>
            <option *ngFor="let ciudad of ciudades"  value="{{ciudad._id}}">{{ciudad.nombre_ciudad}}</option>

         
          </select>
         
        </div>

        <div class="form-group col-md-2">
          <label for="direccionResidencia" class="label ">Dirección residencia *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección residencia"
          [class.is-invalid]="getNoValido('direccion')"/>
          <small class="mensaje-error" *ngIf="getNoValido('direccion')">
          El campo direccion es obligatorio.
          </small>
        </div>


        <div class="form-group col-md-2">
          <label for="telefono" class="label ">Teléfono fijo </label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" >
        </div>


        <div class="form-group col-md-2">
          <label for="celular" class="label ">Celular * </label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="celular" 
          [class.is-invalid]="getNoValido('celular')" />
          <small class="mensaje-error" *ngIf="getNoValido('celular')">
            El campo celular es obligatorio.
          </small>
         
        </div>

        <div class="form-group col-md-2">
          <label for="celular" class="label ">Correo * </label>
        </div>

        <div class="form-group col-md-4">
          <input type="email" class="form-control" formControlName="correo" placeholder="correo@hotmail.com" 
          [class.is-invalid]="getNoValido('correo')"/>
          <small class="mensaje-error" *ngIf="getNoValido('correo')">
          El campo correo es obligatorio.
          </small> 

        </div>

        <div class="form-group col-md-2">
          <label for="programaAcademico" class=" label">Programa académico *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="programa_acad" placeholder="Programa académico" 
          [class.is-invalid]="getNoValido('programa_acad')"/>
          <small class="mensaje-error" *ngIf="getNoValido('programa_acad')">
          El campo programa académico es obligatorio.
          </small>
        </div>


        <div class="form-group col-md-2">
          <label for="semestre" class=" label">Semestre*</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="semestre" [class.is-invalid]="getNoValido('semestre')" >
            <option value="">Seleccione..</option>
            <option value="item 1"> primer </option>
            <option value="item 2"> segundo </option>
            <option value="item 3"> tercer </option>
            <option value="item 4"> cuarto </option>
            <option value="item 5"> quinto </option>
            <option value="item 6"> sexto </option>
            <option value="item 7"> séptimo </option>
            <option value="item 8"> octavo </option>
            <option value="item 9"> noveno </option>
            <option value="item 10"> décimo </option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="promedio" class="label ">Promedio *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="promedio" placeholder="Promedio"
          [class.is-invalid]="getNoValido('promedio')"/>
          <small class="mensaje-error" *ngIf="getNoValido('promedio')">
          El campo promedio es obligatorio.
          </small>
        </div>

        <div class="form-group col-md-2">
          <label for="creditosCursados" class=" label">Créditos cursados *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="cred_cursados" placeholder="Créditos cursados" 
          [class.is-invalid]="getNoValido('cred_cursados')"/>
          <small class="mensaje-error" *ngIf="getNoValido('cred_cursados')">
          El campo créditos cursados es obligatorio.
          </small>
        </div>

        <div class="form-group col-md-2">
          <label for="creditosCursar" class="label ">Créditos a cursar *</label>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" formControlName="cred_cursar" placeholder="Créditos a cursar"     
          [class.is-invalid]="getNoValido('cred_cursar')"/>
          <small class="mensaje-error" *ngIf="getNoValido('cred_cursar')">
          El campo créditos a cursar es obligatorio.
          </small>
        </div>

        <div class="form-group col-md-2">
          <label for="ano" class="label "> Año de inscripción*</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="ano_inscrip" [class.is-invalid]="getNoValido('ano_inscrip')" >
            <option value="">Seleccione..</option>
            <option value="item 1">Seleccione..</option>
          </select>
         </div>

        <div class="form-group col-md-2">
          <label for="periodo" class="label "> Periodo de inscripción *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="periodo_inscrip" [class.is-invalid]="getNoValido('periodo_inscrip')" >
            <option value="">Seleccione..</option>
            <option value="item 1"> 1 </option>
            <option value="item 1"> 2 </option>
          </select>
        </div>

        
      <div class="form-group col-md-2">
        <label for="fechaInscripcion" class="label ">Fecha de inscripción *</label>
      </div>

      <div class="form-group col-md-4">
        <input required readonly class="input input-date1" placeholder="fecha inscripcion"
          [matDatepicker]="fechaInscripcion" formControlName="fecha_inscripcion" (click)="fechaInscripcion.open()"
          [class.is-invalid]="getNoValido('fecha_inscripcion')" />
        <small class="mensaje-error" *ngIf="getNoValido('fecha_inscripcion')">
          El campo fecha de inscripción es obligatorio.
        </small>
        <mat-datepicker #fechaInscripcion></mat-datepicker>
      </div>

        <div class="form-group col-md-2">
          <label for="institucionCooperante" class="label "> Universidad de origen *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="nombre_institucion" [class.is-invalid]="getNoValido('nombre_institucion')" >
            <option value="">Seleccione..</option>
            <option value="dato">Seleccione..</option>


          </select>
        </div>
     
        <div class="form-group col-md-2">
          <label for="programaUIS" class="label ">Programa académico Uis *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control"  formControlName="prog_acad_uis" [class.is-invalid]="getNoValido('prog_acad_uis')" >
            <option value="">Seleccione..</option>
            <option value="item 1"> 1 </option>
            <option value="item 1"> 2 </option>
          </select>
        
        </div>


        <div class="form-group col-md-2">
          <label for="movilidad" class="label "> Tipo de movilidad *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" formControlName="tipo_movilidad" [class.is-invalid]="getNoValido('tipo_movilidad')" >
            <option value="">Seleccione..</option>
            <option value="item 1"> 1 </option>
            <option value="item 1"> 2 </option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="institucionCooperante" class="label "> Institución cooperante *</label>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" id="institucionCooperante" placeholder="Institución cooperante" >
            <option>Seleccione..</option>
            <option value="item 1"> 1 </option>
            <option value="item 1"> 2 </option>
          </select>
          </div>

          <div class=" form-group col-md-2 ">
            <label for="" class=" "> </label>
          </div>
  
          <div class="form-group col-md-4">
           
          </div>

        <div class="form-group col-md-6">
          <div class="row justify-content-end">

            <button class="submit" style="font-weight: bold;" (click)="guardarFormulario()"> Guardar </button>

          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="row justify-content-start">

            <button class="submit" style="font-weight: bold;" type="">Cancelar </button>


          </div>
        </div>



      </form>

      <p> (*) Información requerida</p>


    </section>



</body>