.mensaje-error{
    background-color: #F2DEDE;
    color: #B94A48;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}


p {
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
    padding-left: 2%;
}