<body>


    <header>


        <section id="title">

            <div id="titulo">
                Sistema de relaciones exteriores
                <br />
                Módulo de movilidad académica - Documentos
            </div>

        </section>


    </header>

    <section id="body">

        <div id="name">
            <h3> Crear </h3>
        </div>

        <br />

        <form [formGroup]="formularioCrearDocumento" class="row justify-content-center form">



            <div class="form-group col-md-2">
                <label for="nombreDocumento" class="label ">Nombre documento *</label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" formControlName="nombre_documento" class="form-control"
                    placeholder="Nombre documento" [class.is-invalid]="getNoValido('nombre_documento')" />
                <small class="mensaje-error" *ngIf="getNoValido('nombre_documento')">
                    El campo nombre documento es obligatorio.
                </small>

            </div>


            <div class="form-group col-md-2">
                <label for="estadoDoc" class="label "> Estado *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" formControlName="estado_documento"
                    [class.is-invalid]="getNoValido('estado_documento')">
                    <option value="">Seleccione..</option>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>

            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" (click)="guardarFormulario()"> Crear </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">
                    <button class="submit" type=""> Cancelar </button>
                </div>
            </div>
        </form>
    </section>


    <section id="body">

        <div id="name">
            <h3> Criterios de consulta </h3>
        </div>

        <br />

        <form class="row justify-content-center form">


            <div class=" form-group col-md-2 ">
                <label for="id" class="label ">Id * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="_id">

            </div>

            <div class=" form-group col-md-2 ">
                <label for="nombre" class="label ">Nombre * </label>
            </div>

            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="nombre_doc">

            </div>


            <div class="form-group col-md-2">
                <label for="estadoDoc" class="label "> Estado *</label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control">
                    <option value="">Seleccione..</option>
                    <option value="Item 1">Activo</option>
                    <option value="Item 2">Inactivo</option>
                </select>

            </div>

            <div class=" form-group col-md-2 ">
                <label for="" class=" "> </label>
            </div>

            <div class="form-group col-md-4">
                <label for="" class=" "> </label>
            </div>


            <div class="form-group col-md-6">
                <div class="row justify-content-end">

                    <button class="submit" type="submit"> Consultar </button>

                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="row justify-content-start">

                    <button class="submit" type=""> Cancelar </button>


                </div>
            </div>



        </form>




    </section>


    <section id="body">

        <div id="name">
            <h3> Listado de documentos</h3>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center"> Id </th>
                    <th scope="col" class="center"> Nombre </th>
                    <th scope="col" class="center"> Estado </th>
                    <th scope="col" class="center"> Acciones </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let documento of documentos">

                    <td>{{documento._id}}</td>
                    <td>{{documento.nombre_documento}}</td>
                    <td>{{documento.estado_documento}}</td>
                    <td><button class="submit" (click)="editarDocumento(documento._id )"> Editar </button></td>
                </tr>

            </tbody>
        </table>


    </section>




</body>